# Build artifacts for C++
*.o
*.obj
*.exe
*.dll
*.lib
*.so
*.a
*.ilk
*.pdb
*.exp
*.idb
*.iobj
*.ipdb
*.tlog
*.psess
*.manifest
*.res

# Build artifacts for C#
[Bb]in/
[Oo]bj/
*.exe
*.pdb
*.dll
*.suo
*.user
*.bak
*.vspscc
*.vssscc
*.vccpscc
*.builds
*.log
*.err
*.wrn
*.opensdf
*.sdf
*.cache
*.ncb
*.vc.db
*.vc.opendb
*.vcxproj.filters
*.vshost.*
.DS_Store
Thumbs.db

# Visual Studio and other IDE files
.vs/
.vscode/
*.VC.db
*.VC.opendb
*.sdf
*.suo
*.user
*.vsp
*.log
*.buildlog
*.docstates
*.tlb
*.tlh
*.tmp
*.rc
*.aps
ipch/
*.aps
*.bsc
*.sbr
*.res
*.pch
*.pco

# Dependencies and package folders
packages/
node_modules/

# Miscellaneous
*.~
*.bak
*.swp
*.swo
*.tmp
*.log
*.orig
*.*~
#.DS_Store
#.~lock.*
*.pid
*.seed
*.core
tags
TAGS
cscope.*
*.sublime-project
*.sublime-workspace
*.idea
*.komodoproject

# Rider
.idea/
*.sln.DotSettings
*.user
*.csproj.user

# Mac
.DS_Store

# Windows
Thumbs.db
