<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Piece.Core.Abstractions" value="./src/csharp/Piece.Core.Abstractions/bin/Release/" />
    <add key="Piece.Core" value="./src/csharp/Piece.Core/bin/Release/" />
    <add key="Piece.Framework" value="./src/csharp/Piece.Framework/bin/Release/" />
    <add key="Piece.Box2d" value="./src/csharp/Piece.Box2d/bin/Release/" />
    <add key="Piece.Glfw" value="./src/csharp/Piece.Glfw/bin/Release/" />
    <add key="Piece.OpenGL" value="./src/csharp/Piece.OpenGL/bin/Release/" />
  </packageSources>
</configuration>