name: Continuous Integration

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  VCPKG_ROOT: '${{ github.workspace }}/vcpkg'

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        arch: [x64]

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install Ninja-build
      if: startsWith(matrix.os, 'ubuntu')
      run: sudo apt-get update && sudo apt-get install -y ninja-build

    - name: Install GLFW3 system dependencies
      if: startsWith(matrix.os, 'ubuntu')
      run: sudo apt-get update && sudo apt-get install -y libxinerama-dev libxcursor-dev xorg-dev libglu1-mesa-dev pkg-config

    - name: Install Xvfb
      if: startsWith(matrix.os, 'ubuntu')
      run: sudo apt-get update && sudo apt-get install -y xvfb x11-utils

    - name: Bootstrap vcpkg
      run: git clone https://github.com/microsoft/vcpkg.git "${{ env.VCPKG_ROOT }}"

    - name: Configure CMake (Windows Debug)
      if: startsWith(matrix.os, 'windows')
      run: cmake --preset windows-debug

    - name: Configure CMake (Linux Debug)
      if: startsWith(matrix.os, 'ubuntu')
      run: cmake --preset linux-debug
      
    - name: Build C++ (Windows)
      if: startsWith(matrix.os, 'windows')
      run: cmake --build --preset windows-debug --config Debug --verbose

    - name: Build C++ (Linux)
      if: startsWith(matrix.os, 'ubuntu')
      run: cmake --build --preset linux-debug

    - name: Run C++ Tests (Windows)
      if: startsWith(matrix.os, 'windows')
      run: ctest --preset windows-debug

    - name: Run C++ Tests (Linux)
      if: startsWith(matrix.os, 'ubuntu')
      run: xvfb-run ctest --preset linux-debug

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Restore NuGet packages
      run: dotnet restore

    - name: Build C# Projects
      run: dotnet build --configuration Debug --no-restore

    - name: Run C# Tests
      run: dotnet test --no-build --configuration Debug

